.header-wrapper {
  width: 100%;
  transition: all 0.3s;
}

.header-wrapper.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 98;
  border-bottom: 2px solid #fd9800;
}
.header-wrapper.sticky .header {
  padding: 10px 0;
}
.header-wrapper.sticky .header .logo-link {
  width: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.logo-link {
  display: block;
  font-size: 0;
}
.logo-link img {
  display: block;
  width: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__item {
  display: flex;
  align-items: center;
  margin-right: 58px;
}
.nav-list__item:last-child {
  margin-right: 0;
}
.header-btn {
  display: block;
  width: 250px;
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  font-weight: 700;
  background: rgba(43, 175, 56, 0.7);
  border: 1px solid #2baf38;
  box-shadow: 0px 0px 24px rgba(43, 175, 56, 0.2);
  border-radius: 10px;
}
.menu-btn-text {
    color: #000000;
    margin-right: 20px;
}
.menu-btn {
    width: 26px;
}
.menu-btn span {
    display: block;
    width: 100%;
    min-height: 2px;
    background-color: #000000;
    margin-bottom: 8px;
}
.menu-btn span:last-child {
    margin-bottom: 0;
}
.open-menu-btn {
  cursor: pointer;
}
