.products-wrapper {
  margin-bottom: 40px;
}
.products-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.products-nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.products-nav__title {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.products-nav-link__item,
.products-nav-link {
  display: flex;
  align-items: center;
}
.products-nav-link__item {
  margin-right: 20px;
  color: #8e8e8e;
}
.products-nav-link__icons {
  width: 17px;
  height: 17px;
  fill: #8e8e8e;
  margin-right: 6px;
}
.products-nav-link__item:hover {
  color: #ff5151;
}
.products-nav-link__item:hover > .products-nav-link__icons {
  fill: #ff5151;
}
.products-nav-link__item.active {
  color: #ff5151;
}
.products-nav-link__item.active > .products-nav-link__icons {
  fill: #ff5151;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 660px;
  padding: 20px 50px 20px 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-info__name,
.product-info__weight,
.product-info__price {
  font-size: 12px;
  font-weight: 500;
  color: #c7c7c7;
}
.product-info__name {
  width: 410px;
}
.product-info__weight {
  width: 98px;
}
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}
.product-list.active {
  opacity: 1;
  height: auto;
  overflow: hidden;
}
.product-list__item {
  width: 660px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.product-list__item.active-orange {
  background: rgba(253, 201, 16, 0.08);
  border: 1px solid #fcaa30;
  border-radius: 15px;
  padding-right: 8px;
}
.product-list__item.active-green {
  background: rgba(66, 159, 71, 0.15);
  border: 1px solid #23932e;
  border-radius: 15px;
  padding-right: 8px;
}
.product-list__img {
  width: 70px;
  min-width: 70px;
}
.product-list__img img {
  display: block;
  max-width: 70px;
  margin: 0 auto;
}
.product-list__content {
  width: 410px;
  max-width: 410px;
}
.product-list__title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.product-list__descriptions {
  font-size: 14px;
  font-weight: 500;
  color: #8e8e8e;
  margin-bottom: 14px;
}
.product-list__weight {
  width: 98px;
}
.product-list__weight p {
  font-size: 20px;
  font-weight: 500;
}
.product-list__price p {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.product-list__top {
  margin-bottom: 10px;
}
.product-list__time {
  display: inline-block;
  padding: 4px 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  background-color: #181818;
  border-radius: 4px;
}
.product-list__time.active {
  background-color: #ff5151;
}
.product-list__icons {
  display: flex;
  align-items: center;
}
.product-list__symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #2f2f2f;
  border: 1.5px solid #2f2f2f;
  border-radius: 8px;
  margin-right: 8px;
}
.product-list__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}
.product-list__icon.leaf {
  background-image: url(../img/products/list-icons/leaf.svg);
}
.product-list__icon.chili {
  background-image: url(../img/products/list-icons/chili-pepper.svg);
}
.product-list__icon.chili-black {
  background-image: url(../img/products/list-icons/chili-pepper-black.svg);
}
.product-list__calc {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
