@import "./nice-select.css";
@import "./base.css";
@import "./header.css";
@import "./main.css";
@import "./our-menu.css";
@import "./slider.css";
@import "./products.css";
@import "./banner.css";
@import "./footer.css";
@import "./navigation.css";
@import "./media.css";




.select-currency .nice-select {
    border: none;
    color: #000000;
    font-weight: bold;
}
.select-currency .nice-select:after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
